.stock_usericon img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	object-fit: cover;
  
  padding: 1rem;
}


.stock_usernickname {
  padding: 1rem;
}

.stock_changebutton {
  padding: 1rem;
}


.playlistAddTable td {
    padding: 5px;
}

.voiceplate {
    overflow: visible;
    height: 110px;
}

.nav {
    position: relative;
}

.playlist-data li {
    padding: 0.2rem;
}

.playlistFeedStatus {
    font-size: 1.5rem;
}

.playlist-data {
    line-height: 0;
}

.dropdown-menu {
    background-color: #EEE;
}


.dd-right {
 left:auto;
 right:0;
 &::before {left:auto !important; right:9px;}
 &::after {left:auto !important; right:10px;}

}




.sns-btn {
    position: fixed;
    bottom: 40px;
    right: 0;
    z-index:999;
}


.snsicon {
    font-size: 24px;
    color: #FFF;
}

/*
.snsicon {
    width: 3vw;
    font-size: 2vw;
}

@media screen and (max-width: 992px) {
    .snsicon {
        width: 3vw;
        font-size: 2.5vw;
    }
}
*/
.snsbtn {
    width: 80%;
    height: 45px;
}

.snsiconmenu li a {
    padding: 5px 15px;
}

.fa-line {
    color: #00B900;
}

.line-icon-img  {
    width: 28px;
}

.copyurl {
    background: #666666;
}
.copyurl:hover , .copyurl:active , .copyurl:visited , .copyurl:focus{
    background: #666666;
}

.copysrc {
    position:absolute;
    left:-9999px;
    top:0px;
}


.top_nav li a i {
    font-size: 12px;
}

.voicetrans {
    padding: 0px 5px 0px 5px;
}

.asmrIcon {
    font-size: 18px;
    position:relative;
    top: 3px;
    padding-right: 2px;
}

.voiceDistributeIcon {
    font-size: 18px;
    position:relative;
    top: 3px;
    padding-right: 2px;
}