

.usericon img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	object-fit: cover;    
}

.playlisticon img{
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
	object-fit: cover;    
}


.media-body {
    padding-top: 1rem;
    padding-left: 2rem;
}

.playicon {
    float: left;
}

.playicon i {
    margin-top: 10px;
    color: #0F5AA5;
}

.media {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    height: 110px;
    
}

.x_panel {
    border-radius: 5px;
        -webkit-border-radius: 5px;
}

.voiceplay {
    cursor: pointer;
}

.datalist{
    margin-bottom: 0px;
}

.voicefilecount {
    cursor: pointer;
}

.voiceuploadnow {
    cursor: pointer;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.featured {
    min-height: 140px;
}

.ptext {
    font-size: large;
}

.pfulltext {
    display: none;
}

.mq {
   font-size: large;
}

.top-catch-icon {
    color: #0F5AA5;
} 



/* voiceBalloon  starts here*/


.voicePostContents {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    margin-left: 35px;
    margin-bottom: 2px;
    padding: 0 5px;
    width: 88%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    box-sizing: border-box;
}


.noEmotionVoice{
    background: linear-gradient(30deg, black, gray);
}

.noEmotionVoice::before{
    border-left: 12px solid black;
    border-top: 12px solid black;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.happyVoice{
    background: linear-gradient(30deg, #DC143C, #FF9900);
}

.happyVoice::before{
    border-left: 12px solid #DC143C;
    border-top: 12px solid #DC143C;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
}


.sadVoice{
    background: linear-gradient(30deg, blue, skyblue);
}
.sadVoice::before{
     border-left: 12px solid blue;
    border-top: 12px solid blue;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
}


.voicePostContents::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(225deg);
    left: 1px;
    bottom: -11px;
}

.voicePostContents::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(225deg);
    left: -18px;
    bottom: -15px;
    border-left: 16px solid #ffffff;
    border-top: 16px solid #ffffff;
    border-right: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.voiceText{
    display: inline-block;
    width: 85%;
    overflow-x: hidden;
}

.voicedetail-icon span, .voicedetail-icon ons-icon{
/*    min-width: 4.5vw;
    font-size: 3.5vw; */
    color: gray;
}


.voicedetail-icon{
    position: relative;
    float: right;
/*    left: -50px; */
    top: 4px;
}

.voicedetail-icon span{
    position: relative;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
}


.stockname{
    display: block;
    max-width: 100%;
    overflow: hidden;
    height:40px;
/*    font-size: 3.5vw; */
    padding-left: 5px;
}

.smallIcon img{
    float: left;
    margin: 0 auto;
    width: 10vw;/* トリミングしたい枠の幅 */
    height: 10vw;/* トリミングしたい枠の高さ */
    object-fit: cover; 
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border-color: black;
    
}

.vicon{
/*    
    background-color:transparent;
    border:1px solid white;
    height:16px;
    width:16px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin-left: 10px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    padding-left: 1px;
*/
    position: relative;
    top: 0.2em;
}


.marginleft5{
    margin-left: 5px;
}



/* voiceBalloon ends here */

.listicon {
    z-index: 1000;
}


.voiceDetails{
    position: relative;
    display: inline-block;
    /*margin: 1.5em 15px 1.5em 0;*/
    /*margin: 10px;*/
    /*margin-left: 30px;*/
    /*padding: 0 5px;*/
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
    color: #555555;
    /*border-radius: 30px;*/
    box-sizing: border-box;
/*    overflow: hidden; */
}


.voiceicon img{
    width: 40px;
    height: 40px;
}

.bal-text {
    color: #FFF;
    text-decoration: none;
    outline: 0;
}
.bal-text:hover {
    color: #bbf;
}

.textdisplay {
    overflow: hidden;
    width: 100%;
}

.textbody{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    
/*    border : #DC143C solid 2px; */
    
}



.marquee {
    text-overflow: initial;

    animation-name: marquee;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes marquee {
    from    { transform: translate(100%); } 
    100%,to { transform: translate(-200%); }
}

.mq {
    display: none;
/*    overflow: hidden; */
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 5px;
/*    border : #DC143C solid 2px;  */
    
}
.media-body {
    overflow: hidden;
    width: 100%;
}
.playlistname {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    word-break: break-all ;
    -webkit-line-clamp: 1;
}

.top-new-icon {
    width: 30px;
    opacity: 0.7;
}

.btn-stocksearch {
    margin-top: 6px;
}

.btn-playlistsearch {
    margin-top: 6px;
}

.btn-voicesearch {
    margin-top: 6px;
}

.x_title h2 {
    width: 60%;
    font-size: 18px;
}

ul {
    -webkit-padding-start: 0px !important;
}

.eventVoiceIcon {
    color: #FF9233;
}


.appdlicons{
    max-height: 70px;
    margin: auto;
    padding: 5px;
}

.appicon-cover {
    margin: auto;
}

.ikmn-banner {
    max-height: 116px;
    display: inline !important;
}
.banner-pos{
    text-align: center;
    padding: 0px;
}

.playlist-image {
    max-height: 200px;
    border-radius: 10%;
    margin: auto;
}


.list-unstyled  {
    text-align: center;
    word-break: normal;
    border-bottom: 1px #ccc solid;
}
.list-unstyled li {
    display: inline-block;
    margin-right: 15px;
    font-size: 13px;

}

.profUserNickname {
    font-size: 20px;
    font-weight: 400;
}

.playlist-voicebox {
    border-bottom: 1px #ccc solid;
}

.tagdatas {
    border-bottom: 1px #ccc solid;
}

.ad-area {
    margin-top: 5px;
}


.voiceIndicator {
/*    padding-left: 50px; */
    position: relative;
    left: 50px;
    top: -15px;
    width: calc(100% - 50px);
}

.googlespearch {
    height: 2.5rem;
    padding-right: 2px;
}

.googletranslate {
    height: 2.5rem;
    padding-right: 2px;
}
.btn-xs {
    font-size: 10px;
}


.top_slick{
    display: none;
    border-radius: 5px;
}
.top_slick.slick-initialized{
    display: block; /*slick-initializedが付与されたら表示*/
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-prev {
    left: 5px;
    z-index: 500;
}

.slick-next {
    right: 0px;
    z-index: 500;
}

.slick-dots {
    bottom: 0px;
}

.slick-dotted.slick-slider {
    margin-bottom: 10px;
}

.slide-image {
    border-radius: 5px;
}


